/*author: Sotiris Sotiriou*/

/*body styling*/
body{
    background-color: white;
    font-family: 'Mukta', sans-serif;
    overflow-x: hidden;
}
/*For any image in the body*/
body img{
    max-width: 100%;/*so the image does not get bigger than the parent figure element and looks bad*/
}
/*Mobile screen size*/

/*Header area styling*/
header{
    display: flex;
    flex-direction: row;
    height: 15%;
}
header figure{
    width: 15%;
    margin: 0px;
}
#moon{
    width: 30px;
    height: 30px;
    margin: 1% 5% 0 0%;
}
#sun{
    width: 40px;
    height: 40px;
    margin: 1% 0% 0% auto;
    opacity: 0;
}
.theme-switch-wrapper {
    display: flex;
    margin: 1% 1% 0 1%;
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.theme-switch input {
    display:none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
input:checked + .slider {
    background-color: #000000;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}  
.slider.round:before {
    border-radius: 50%;
}

.menubtn{
    margin-right: 5%;
}
#menubtnTwo{
    position: fixed;
    display: none;
    top: 3%;
    right: 0.5%;
    z-index: 99;
    background-color: white;
    border-radius: 50%;
    padding: 3px 10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
    cursor: pointer;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 14%;
    font-size: 36px;
}

/*Footer area styling*/
footer{
    height: 5vh;
    background-color: rgb(54, 54, 54);
    color: white;
    display: grid;
    align-items: center;
    padding: 3%;
    font-weight: bold;
}

@media screen and (min-width:500px){
    header figure{
        width: 15%;
    }
}

/*Desktop screen size*/
@media screen and (min-width:800px){
    /*Header area styling*/
    header figure{
        width: 7%;
    }
    #menubtnOne{
        display: none;
    }
}