main{
    display: flex;
    flex-direction: column;
    padding: 5% 0px 5% 0px;
    font-size: 1.5em;
    color: rgb(0,0,128);
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#backToTop{
    width: 60px;
    display: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    border-radius: 50%;
    border: none;
    background-color: rgb(0,0,128);
    color: white;
    padding: 3px 15px;
    z-index: 98;
    cursor: pointer;
}
#toTopSVG:hover{
    transform:translateY(-5px);
    transition: 0.3s;
}
#first-part{
    display: flex;
    flex-direction: column;
    padding: 0% 3% 0% 3%;
}
#first-part figure{
    margin: 0px;
    padding: 0px;
    max-width: 600px;
    margin-right: -3%;
    margin-left: auto;
}
#socialBtn-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15%;
}
#insta, #facebook, #github, #linkedIn{
    width: 40px;
    opacity: 100%;
    margin: 2% 3% 2% 0%;
}
#desk-btns{
    display: none;
    cursor: pointer;
}
#second-part{
    display: flex;
    flex-direction: column;
}
#personalProjects ul{
    list-style: none;
}
#degree, #personalProjects{
    background-color: rgb(231, 231, 231);
    padding: 5%;
    border-radius: 20px;
    margin: 5% auto 5% auto;
    height: fit-content;
}
#degree a{
    margin: 2% auto;
}
#uniLogo{
    width: 40%;
}
#second-part #cvbtn a{
    text-decoration: none;
    color: white;
    background-color: rgb(0,0,128);
    padding: 2%;
    border-radius: 20px;
    margin-left: 2%;
}
.details-arrow{
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    padding: 0px 30px;
    cursor: pointer;
}
.details-arrow:hover{
    background-color: rgb(0,0,128);
    color: white;
    transition: 0.5s;
}
.second-part-details{
    z-index: 102;
    height: 0%;
    width: 0;
    position: fixed;
    top: 5%;
    left: 2.5%;
    background-color: rgb(0,0,128);
    color: transparent;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 50px;
    overflow: scroll;
}
.second-part-details::-webkit-scrollbar {
    display: none;
}    
/* Hide scrollbar for IE, Edge and Firefox */
.second-part-details {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#abilitiesPart{
    padding-left: 3%;
}
#detailsDiv{
    padding: 0% 3% 0% 3%;
}
.second-part-details h1{
    width: 70%;
}
#personal-text li{
    list-style: none;
}
#personal-text figure{
    margin: 1% 0%;
}
#courseLink, .projectLink{
    color: white;
}
#pc-junkies-screenshot{
    width: 50%;
}
.closebtn-second-part{
    position: absolute;
    top: 5%;
    right: 5%;
    color: rgb(0,0,128);
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 2em;
    display: inline-block;
    padding: 0px 30px;
}
#third-part{
    padding: 0% 3% 0% 3%;
}
#third-part figure{
    margin: 0px;
    padding: 0px;
    z-index: -1;
    width: 95%;
    max-width: 600px;
    position: relative;
    top: 10vh;
}
#third-part #aboutSelfdiv{
    margin: 2%;
}
#third-part #aboutComdiv{
    margin: 2%;
    border-top: 4px solid rgb(0,0,128);
    padding-top: 2em;
}
#forth-part{
    padding: 0% 3% 0% 3%;
}
#contact-social{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#instaForth, #githubForth, #linkedInForth {
    margin: 2%;
    opacity: 100%;
    width: 40px;
}
#facebookForth{
    width: 40px;
    opacity: 100%;
    margin: 2% 2% 2% 0%;
}
@media screen and (min-width:800px){
    #first-part{
        display: flex;
        flex-direction: row;
    }
    #intro-text h1{
        font-size: 150%;
    }
    #insta, #facebook, #github, #linkedIn{
        opacity: 50%;
    }
    #insta:hover, #facebook:hover, #github:hover, #linkedIn:hover{
        opacity: 100%;
    }
    #desk-btns{
        display: flex;
        flex-direction: row;
    }
    #desk-btns a{
        border-radius: 20px;
        padding: 2%;
    }
    #desk-menu{
        background-color: rgb(0,0,128);
        color: white;
        margin: 1% 2% 1% 0%;
    }
    #desk-degreebtn, #desk-contactbtn, #desk-aboutbtn{
        margin: 1%;
        display: none;
        background-color: rgb(231, 231, 231);
        color: rgb(0,0,128);
        font-size: 0.7em;
    }
    #detailsDiv{
        display: flex;
        flex-direction: row;
    }
    #personalProjects, #degree{
        width: 45%;
        margin: 1.5%;
    }
    #third-part figure{
        top: 20vh;
    }
    #third-part content h1{
        padding-left: 2%;
    }
    #third-part #aboutSelf{
        text-align: right;
        border-right: 4px solid rgb(0,0,128);
        padding-right: 2%;
    }
    #third-part #aboutComdiv{
        border-top: none;
        padding-top: 0px;
    }
    #third-part #aboutCom{
        border-left: 4px solid rgb(0,0,128);
        padding-left: 2%;
    }
}
@media screen and (min-width:1100px){
    #desk-degreebtn, #desk-contactbtn, #desk-aboutbtn{
        font-size: 1.1em;
    }
}
@media screen and (min-width:1200px){
    #intro-text h1{
        font-size: 250%;
    }
}
